.container {
    margin: 16px;
    display: flex;
    flex-flow: row wrap;
}

md-card {
    margin: 0 16px 16px 0;
    width: 300px;
}

.details {
    margin: 16px;
    display: flex;
    flex-flow: column nowrap;
}